In [33]:
import numpy as np
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
engine1 = create_engine('sqlite:///:memory:', echo=False)

In [34]:
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [43]:
data.columns=['age','workclass','fnlwgt','education','education-num','marital-status',
                     'occupation','relationship','race','sex','capital-gain','capital-loss',
                     'hours-per-week','native-country','class']
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [44]:
data.to_sql('sqladb', con=engine1, if_exists='replace',chunksize=60)

In [45]:
engine1.execute("SELECT * FROM sqladb LIMIT 10;").fetchall()

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K'),
 (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'),
 (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'),
 (5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'),
 (7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'),
 (8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K'),
 (9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 5178, 0, 40, ' United-States', ' >50K')]

In [46]:
engine1.execute("select avg([hours-per-week]) from sqladb where sex == ' Male' and workclass == ' Private'").fetchall()

[(42.22122591006424,)]

In [54]:
engine1.execute("SELECT AVG([hours-per-week]) as Average FROM sqladb WHERE Workclass=='Private' ").fetchall()

[(None,)]

In [55]:
engine1.execute("select distinct(education),count(education) from sqladb group by education;").fetchall()

[(' 10th', 933),
 (' 11th', 1175),
 (' 12th', 433),
 (' 1st-4th', 168),
 (' 5th-6th', 333),
 (' 7th-8th', 646),
 (' 9th', 514),
 (' Assoc-acdm', 1067),
 (' Assoc-voc', 1382),
 (' Bachelors', 5355),
 (' Doctorate', 413),
 (' HS-grad', 10501),
 (' Masters', 1723),
 (' Preschool', 51),
 (' Prof-school', 576),
 (' Some-college', 7291)]

In [56]:
engine1.execute("select occupation,count(occupation) from sqladb group by occupation").fetchall()

[(' ?', 1843),
 (' Adm-clerical', 3770),
 (' Armed-Forces', 9),
 (' Craft-repair', 4099),
 (' Exec-managerial', 4066),
 (' Farming-fishing', 994),
 (' Handlers-cleaners', 1370),
 (' Machine-op-inspct', 2002),
 (' Other-service', 3295),
 (' Priv-house-serv', 149),
 (' Prof-specialty', 4140),
 (' Protective-serv', 649),
 (' Sales', 3650),
 (' Tech-support', 928),
 (' Transport-moving', 1597)]

In [50]:
engine1.execute("select relationship,count(relationship) from sqladb group by relationship").fetchall()

[(' Husband', 13193),
 (' Not-in-family', 8305),
 (' Other-relative', 981),
 (' Own-child', 5068),
 (' Unmarried', 3446),
 (' Wife', 1568)]

In [64]:
q="""
select * from sqladb 
where [marital-status] != ' Never-married' 
and workclass == ' Private' 
and education == ' Masters'
"""
engine1.execute(q).fetchall()

[(5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (47, 44, ' Private', 128354, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (87, 33, ' Private', 202051, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (100, 76, ' Private', 124191, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (188, 31, ' Private', 99928, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 0, 0, 50, ' United-States', ' <=50K'),
 (198, 35, ' Private', 138992, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Other-relative', ' White', ' Male', 7298, 0, 40, ' United-States', ' >50K'),
 (311, 34, ' Private', 142897, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 7298, 0, 35, ' Taiwan', ' >50K'),
 (361, 62, ' Private', 270092, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (405, 41, ' Private', 445382, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 65, ' United-States', ' >50K'),
 (435, 33, ' Private', 208405, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (468, 49, ' Private', 192776, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 45, ' United-States', ' >50K'),
 (569, 47, ' Private', 87490, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Male', 0, 0, 42, ' United-States', ' <=50K'),
 (606, 51, ' Private', 410114, ' Masters', 14, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (610, 52, ' Private', 200853, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 6849, 0, 60, ' United-States', ' <=50K'),
 (697, 31, ' Private', 118710, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 1902, 40, ' United-States', ' >50K'),
 (777, 34, ' Private', 73585, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' ?', ' <=50K'),
 (850, 61, ' Private', 99784, ' Masters', 14, ' Widowed', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' >50K'),
 (895, 40, ' Private', 170108, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (916, 43, ' Private', 158926, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Asian-Pac-Islander', ' Female', 0, 0, 50, ' South', ' <=50K'),
 (927, 51, ' Private', 138022, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (951, 43, ' Private', 227065, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 43, ' United-States', ' >50K'),
 (996, 45, ' Private', 89325, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'),
 (1014, 38, ' Private', 173208, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 25, ' United-States', ' <=50K'),
 (1145, 33, ' Private', 354573, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 44, ' United-States', ' >50K'),
 (1172, 25, ' Private', 404616, ' Masters', 14, ' Married-civ-spouse', ' Farming-fishing', ' Not-in-family', ' White', ' Male', 0, 0, 99, ' United-States', ' >50K'),
 (1197, 59, ' Private', 151616, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' <=50K'),
 (1224, 38, ' Private', 22245, ' Masters', 14, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 0, 72, ' ?', ' >50K'),
 (1293, 46, ' Private', 279661, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Black', ' Male', 0, 0, 35, ' United-States', ' <=50K'),
 (1341, 57, ' Private', 89392, ' Masters', 14, ' Married-spouse-absent', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (1378, 65, ' Private', 198766, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 20051, 0, 40, ' United-States', ' >50K'),
 (1467, 49, ' Private', 101320, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Female', 0, 0, 75, ' United-States', ' <=50K'),
 (1489, 37, ' Private', 175232, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (1532, 48, ' Private', 125421, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Female', 0, 0, 40, ' United-States', ' >50K'),
 (1593, 55, ' Private', 98361, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 50, ' ?', ' >50K'),
 (1612, 45, ' Private', 46406, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 36, ' England', ' >50K'),
 (1642, 48, ' Private', 126754, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 40, ' United-States', ' >50K'),
 (1675, 43, ' Private', 37937, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (1699, 54, ' Private', 177927, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'),
 (1709, 43, ' Private', 201723, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1902, 40, ' United-States', ' >50K'),
 (1717, 41, ' Private', 233955, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 45, ' China', ' >50K'),
 (1728, 49, ' Private', 186078, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 0, 0, 50, ' United-States', ' >50K'),
 (1764, 46, ' Private', 133938, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Female', 27828, 0, 50, ' United-States', ' >50K'),
 (1787, 39, ' Private', 79331, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 15024, 0, 40, ' United-States', ' >50K'),
 (1836, 58, ' Private', 312131, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (1893, 34, ' Private', 192002, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' >50K'),
 (1921, 38, ' Private', 119741, ' Masters', 14, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (1945, 37, ' Private', 329980, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 2415, 60, ' United-States', ' >50K'),
 (1946, 57, ' Private', 176079, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (1949, 40, ' Private', 102606, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (1962, 50, ' Private', 147629, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 15024, 0, 45, ' United-States', ' >50K'),
 (2018, 39, ' Private', 505119, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' Cuba', ' >50K'),
 (2085, 37, ' Private', 49115, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (2143, 52, ' Private', 54933, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Own-child', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (2153, 44, ' Private', 146659, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 1887, 35, ' United-States', ' >50K'),
 (2217, 45, ' Private', 142287, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (2258, 29, ' Private', 241431, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 7298, 0, 40, ' United-States', ' >50K'),
 (2286, 41, ' Private', 116379, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 55, ' Taiwan', ' >50K'),
 (2339, 36, ' Private', 116358, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' Taiwan', ' >50K'),
 (2344, 44, ' Private', 198282, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 40, ' United-States', ' >50K'),
 (2651, 43, ' Private', 96102, ' Masters', 14, ' Married-spouse-absent', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (2829, 36, ' Private', 107302, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (2860, 47, ' Private', 102308, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (2883, 45, ' Private', 270842, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Female', 0, 0, 50, ' United-States', ' >50K'),
 (2915, 26, ' Private', 198163, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (2989, 44, ' Private', 178385, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 48, ' India', ' <=50K'),
 (3011, 37, ' Private', 271767, ' Masters', 14, ' Separated', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'),
 (3035, 61, ' Private', 208919, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (3077, 38, ' Private', 266645, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (3125, 55, ' Private', 153484, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 50, ' United-States', ' >50K'),
 (3143, 32, ' Private', 295589, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 0, 1977, 40, ' United-States', ' >50K'),
 (3167, 38, ' Private', 242720, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 35, ' United-States', ' >50K'),
 (3324, 59, ' Private', 294395, ' Masters', 14, ' Widowed', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (3427, 54, ' Private', 457237, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (3444, 59, ' Private', 208395, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (3466, 39, ' Private', 96452, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' >50K'),
 (3483, 41, ' Private', 113823, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' England', ' <=50K'),
 (3499, 26, ' Private', 139098, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 5013, 0, 40, ' United-States', ' <=50K'),
 (3540, 36, ' Private', 165799, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (3552, 56, ' Private', 192869, ' Masters', 14, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 1977, 44, ' United-States', ' >50K'),
 (3627, 36, ' Private', 120760, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' China', ' <=50K'),
 (3667, 37, ' Private', 262409, ' Masters', 14, ' Divorced', ' Exec-managerial', ' Unmarried', ' White', ' Female', 0, 213, 45, ' United-States', ' <=50K'),
 (3672, 43, ' Private', 102025, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Other', ' Male', 0, 0, 50, ' United-States', ' <=50K'),
 (3724, 38, ' Private', 234901, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 60, ' United-States', ' >50K'),
 (3749, 56, ' Private', 318450, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 80, ' United-States', ' >50K'),
 (3829, 40, ' Private', 71738, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 46, ' United-States', ' >50K'),
 (3927, 53, ' Private', 201127, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 48, ' United-States', ' >50K'),
 (3934, 53, ' Private', 103950, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (3956, 42, ' Private', 44121, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 1876, 40, ' United-States', ' <=50K'),
 (3966, 49, ' Private', 101825, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 0, 1977, 40, ' United-States', ' >50K'),
 (3979, 48, ' Private', 96798, ' Masters', 14, ' Divorced', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 35, ' United-States', ' <=50K'),
 (4172, 46, ' Private', 324655, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 1902, 40, ' ?', ' >50K'),
 (4349, 53, ' Private', 114758, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 65, ' United-States', ' >50K'),
 (4366, 42, ' Private', 201785, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (4411, 43, ' Private', 304175, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (4465, 49, ' Private', 185041, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 40, ' United-States', ' >50K'),
 (4549, 53, ' Private', 424079, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 55, ' United-States', ' >50K'),
 (4571, 34, ' Private', 299635, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1902, 50, ' United-States', ' >50K'),
 (4747, 42, ' Private', 107762, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (4780, 49, ' Private', 65087, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 50, ' United-States', ' >50K'),
 (4788, 37, ' Private', 117381, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'),
 (4894, 46, ' Private', 55720, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'),
 (4957, 25, ' Private', 108779, ' Masters', 14, ' Separated', ' Other-service', ' Own-child', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (5044, 55, ' Private', 31905, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 1977, 40, ' United-States', ' >50K'),
 (5049, 32, ' Private', 473133, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (5112, 39, ' Private', 225544, ' Masters', 14, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 0, 40, ' Poland', ' <=50K'),
 (5120, 46, ' Private', 265275, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K'),
 (5158, 47, ' Private', 190139, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (5276, 44, ' Private', 116632, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (5283, 40, ' Private', 167265, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 43, ' United-States', ' <=50K'),
 (5291, 80, ' Private', 157778, ' Masters', 14, ' Widowed', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 0, 10, ' United-States', ' <=50K'),
 (5337, 47, ' Private', 169092, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Unmarried', ' White', ' Female', 0, 0, 50, ' United-States', ' >50K'),
 (5377, 63, ' Private', 361631, ' Masters', 14, ' Separated', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' >50K'),
 (5458, 33, ' Private', 176992, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (5501, 60, ' Private', 63296, ' Masters', 14, ' Divorced', ' Prof-specialty', ' Other-relative', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (5543, 44, ' Private', 296728, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (5580, 44, ' Private', 112517, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 20, ' United-States', ' >50K'),
 (5593, 29, ' Private', 168479, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (5634, 51, ' Private', 146574, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' >50K'),
 (5639, 37, ' Private', 126569, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'),
 (5673, 35, ' Private', 112271, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'),
 (5678, 49, ' Private', 178749, ' Masters', 14, ' Married-spouse-absent', ' Adm-clerical', ' Unmarried', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'),
 (5685, 53, ' Private', 106176, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 7298, 0, 60, ' United-States', ' >50K'),
 (5727, 45, ' Private', 543922, ' Masters', 14, ' Divorced', ' Transport-moving', ' Not-in-family', ' White', ' Male', 14344, 0, 48, ' United-States', ' >50K'),
 (5771, 46, ' Private', 137354, ' Masters', 14, ' Married-civ-spouse', ' Tech-support', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' Philippines', ' >50K'),
 (5817, 35, ' Private', 241126, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'),
 (5822, 35, ' Private', 99357, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' White', ' Female', 15024, 0, 50, ' United-States', ' >50K'),

In [65]:
q="""
select workclass, avg(age),min(age),max(age)
from sqladb
group by workclass
"""
engine1.execute(q).fetchall()

[(' ?', 40.960239651416124, 17, 90),
 (' Federal-gov', 42.590625, 17, 90),
 (' Local-gov', 41.75107501194458, 17, 90),
 (' Never-worked', 20.571428571428573, 17, 30),
 (' Private', 36.797585477617204, 17, 90),
 (' Self-emp-inc', 46.01702508960574, 17, 84),
 (' Self-emp-not-inc', 44.96969696969697, 17, 90),
 (' State-gov', 39.43605546995377, 17, 81),
 (' Without-pay', 47.785714285714285, 19, 72)]

In [66]:
engine1.execute("select age,[native-country],count(age) from sqladb group by age,[native-country] ").fetchall()

[(17, ' ?', 2),
 (17, ' Canada', 2),
 (17, ' El-Salvador', 2),
 (17, ' England', 1),
 (17, ' Haiti', 1),
 (17, ' India', 1),
 (17, ' Mexico', 6),
 (17, ' Peru', 2),
 (17, ' Philippines', 1),
 (17, ' Poland', 1),
 (17, ' Puerto-Rico', 1),
 (17, ' Trinadad&Tobago', 1),
 (17, ' United-States', 374),
 (18, ' ?', 8),
 (18, ' Cambodia', 1),
 (18, ' Canada', 1),
 (18, ' Columbia', 1),
 (18, ' Dominican-Republic', 1),
 (18, ' Germany', 1),
 (18, ' Honduras', 1),
 (18, ' India', 1),
 (18, ' Jamaica', 1),
 (18, ' Mexico', 6),
 (18, ' Peru', 1),
 (18, ' Philippines', 2),
 (18, ' Scotland', 1),
 (18, ' United-States', 524),
 (19, ' ?', 5),
 (19, ' Canada', 1),
 (19, ' El-Salvador', 4),
 (19, ' England', 2),
 (19, ' Guatemala', 3),
 (19, ' Haiti', 1),
 (19, ' Honduras', 1),
 (19, ' Hong', 1),
 (19, ' Italy', 1),
 (19, ' Jamaica', 1),
 (19, ' Japan', 2),
 (19, ' Laos', 2),
 (19, ' Mexico', 14),
 (19, ' Nicaragua', 2),
 (19, ' Philippines', 2),
 (19, ' Portugal', 1),
 (19, ' Puerto-Rico', 3),
 (19, ' South', 3),
 (19, ' Thailand', 2),
 (19, ' United-States', 659),
 (19, ' Vietnam', 2),
 (20, ' ?', 10),
 (20, ' Canada', 2),
 (20, ' El-Salvador', 5),
 (20, ' England', 1),
 (20, ' France', 1),
 (20, ' Germany', 5),
 (20, ' Guatemala', 3),
 (20, ' Haiti', 1),
 (20, ' India', 1),
 (20, ' Italy', 1),
 (20, ' Mexico', 18),
 (20, ' Nicaragua', 4),
 (20, ' Peru', 1),
 (20, ' Philippines', 2),
 (20, ' Puerto-Rico', 2),
 (20, ' South', 2),
 (20, ' Taiwan', 1),
 (20, ' United-States', 689),
 (20, ' Vietnam', 3),
 (20, ' Yugoslavia', 1),
 (21, ' ?', 11),
 (21, ' Columbia', 3),
 (21, ' Cuba', 2),
 (21, ' Dominican-Republic', 3),
 (21, ' Ecuador', 1),
 (21, ' El-Salvador', 2),
 (21, ' England', 1),
 (21, ' Germany', 3),
 (21, ' Guatemala', 2),
 (21, ' India', 1),
 (21, ' Italy', 1),
 (21, ' Jamaica', 3),
 (21, ' Mexico', 24),
 (21, ' Nicaragua', 1),
 (21, ' Outlying-US(Guam-USVI-etc)', 1),
 (21, ' Peru', 1),
 (21, ' Philippines', 1),
 (21, ' Poland', 1),
 (21, ' Portugal', 1),
 (21, ' Puerto-Rico', 1),
 (21, ' South', 1),
 (21, ' Taiwan', 1),
 (21, ' United-States', 651),
 (21, ' Vietnam', 3),
 (22, ' ?', 12),
 (22, ' Canada', 1),
 (22, ' China', 1),
 (22, ' Dominican-Republic', 3),
 (22, ' El-Salvador', 2),
 (22, ' England', 1),
 (22, ' Germany', 4),
 (22, ' Greece', 2),
 (22, ' Guatemala', 3),
 (22, ' Haiti', 2),
 (22, ' India', 2),
 (22, ' Iran', 2),
 (22, ' Italy', 1),
 (22, ' Jamaica', 3),
 (22, ' Mexico', 24),
 (22, ' Peru', 1),
 (22, ' Philippines', 4),
 (22, ' Portugal', 1),
 (22, ' Puerto-Rico', 1),
 (22, ' South', 5),
 (22, ' Taiwan', 2),
 (22, ' Thailand', 1),
 (22, ' United-States', 683),
 (22, ' Vietnam', 3),
 (22, ' Yugoslavia', 1),
 (23, ' ?', 6),
 (23, ' Canada', 3),
 (23, ' China', 2),
 (23, ' Columbia', 2),
 (23, ' Cuba', 3),
 (23, ' Dominican-Republic', 4),
 (23, ' Ecuador', 1),
 (23, ' El-Salvador', 6),
 (23, ' England', 2),
 (23, ' Germany', 1),
 (23, ' Greece', 1),
 (23, ' Guatemala', 4),
 (23, ' Haiti', 2),
 (23, ' India', 1),
 (23, ' Iran', 1),
 (23, ' Ireland', 2),
 (23, ' Jamaica', 2),
 (23, ' Laos', 1),
 (23, ' Mexico', 32),
 (23, ' Outlying-US(Guam-USVI-etc)', 1),
 (23, ' Peru', 1),
 (23, ' Philippines', 6),
 (23, ' Poland', 2),
 (23, ' Portugal', 1),
 (23, ' Puerto-Rico', 5),
 (23, ' South', 3),
 (23, ' Taiwan', 1),
 (23, ' United-States', 771),
 (23, ' Vietnam', 10),
 (24, ' ?', 14),
 (24, ' Canada', 3),
 (24, ' China', 2),
 (24, ' Dominican-Republic', 3),
 (24, ' Ecuador', 2),
 (24, ' El-Salvador', 7),
 (24, ' England', 3),
 (24, ' France', 1),
 (24, ' Germany', 2),
 (24, ' Greece', 1),
 (24, ' Guatemala', 1),
 (24, ' Haiti', 2),
 (24, ' Hungary', 1),
 (24, ' India', 2),
 (24, ' Iran', 1),
 (24, ' Italy', 1),
 (24, ' Jamaica', 4),
 (24, ' Japan', 1),
 (24, ' Laos', 1),
 (24, ' Mexico', 25),
 (24, ' Peru', 1),
 (24, ' Philippines', 5),
 (24, ' Portugal', 1),
 (24, ' Puerto-Rico', 1),
 (24, ' South', 3),
 (24, ' Taiwan', 2),
 (24, ' Thailand', 1),
 (24, ' United-States', 705),
 (24, ' Vietnam', 2),
 (25, ' ?', 11),
 (25, ' Cambodia', 1),
 (25, ' Canada', 5),
 (25, ' China', 1),
 (25, ' Columbia', 4),
 (25, ' Cuba', 1),
 (25, ' Dominican-Republic', 2),
 (25, ' Ecuador', 1),
 (25, ' El-Salvador', 8),
 (25, ' England', 1),
 (25, ' Guatemala', 6),
 (25, ' India', 3),
 (25, ' Italy', 2),
 (25, ' Jamaica', 4),
 (25, ' Japan', 1),
 (25, ' Mexico', 39),
 (25, ' Nicaragua', 1),
 (25, ' Outlying-US(Guam-USVI-etc)', 1),
 (25, ' Peru', 1),
 (25, ' Philippines', 3),
 (25, ' Poland', 3),
 (25, ' Puerto-Rico', 1),
 (25, ' Taiwan', 3),
 (25, ' United-States', 734),
 (25, ' Vietnam', 3),
 (25, ' Yugoslavia', 1),
 (26, ' ?', 18),
 (26, ' Canada', 2),
 (26, ' Columbia', 3),
 (26, ' Dominican-Republic', 3),
 (26, ' El-Salvador', 3),
 (26, ' England', 1),
 (26, ' Germany', 3),
 (26, ' Guatemala', 2),
 (26, ' Honduras', 1),
 (26, ' Hong', 2),
 (26, ' Hungary', 1),
 (26, ' India', 3),
 (26, ' Jamaica', 3),
 (26, ' Japan', 2),
 (26, ' Mexico', 22),
 (26, ' Nicaragua', 1),
 (26, ' Outlying-US(Guam-USVI-etc)', 1),
 (26, ' Peru', 1),
 (26, ' Philippines', 6),
 (26, ' Poland', 2),
 (26, ' Portugal', 1),
 (26, ' Puerto-Rico', 3),
 (26, ' South', 3),
 (26, ' Taiwan', 2),
 (26, ' Thailand', 1),
 (26, ' United-States', 694),
 (26, ' Vietnam', 1),
 (27, ' ?', 15),
 (27, ' Cambodia', 2),
 (27, ' Canada', 2),
 (27, ' China', 1),
 (27, ' Cuba', 1),
 (27, ' Dominican-Republic', 4),
 (27, ' Ecuador', 1),
 (27, ' El-Salvador', 3),
 (27, ' England', 1),
 (27, ' France', 1),
 (27, ' Germany', 3),
 (27, ' Greece', 1),
 (27, ' Guatemala', 6),
 (27, ' Hong', 2),
 (27, ' India', 4),
 (27, ' Ireland', 2),
 (27, ' Jamaica', 4),
 (27, ' Japan', 3),
 (27, ' Laos', 2),
 (27, ' Mexico', 27),
 (27, ' Nicaragua', 1),
 (27, ' Peru', 1),
 (27, ' Philippines', 11),
 (27, ' Poland', 2),
 (27, ' Portugal', 1),
 (27, ' Puerto-Rico', 2),
 (27, ' Scotland', 1),
 (27, ' South', 2),
 (27, ' Taiwan', 1),
 (27, ' United-States', 727),
 (27, ' Vietnam', 1),
 (28, ' ?', 19),
 (28, ' Cambodia', 1),
 (28, ' Canada', 3),
 (28, ' China', 1),
 (28, ' Columbia', 2),
 (28, ' Cuba', 3),
 (28, ' Dominican-Republic', 2),
 (28, ' Ecuador', 2),
 (28, ' El-Salvador', 3),
 (28, ' England', 3),
 (28, ' France', 2),
 (28, ' Germany', 5),
 (28, ' Guatemala', 2),
 (28, ' Haiti', 2),
 (28, ' Honduras', 2),
 (28, ' Hong', 2),
 (28, ' Hungary', 1),
 (28, ' India', 3),
 (28, ' Italy', 1),
 (28, ' Jamaica', 5),
 (28, ' Mexico', 33),
 (28, ' Nicaragua', 2),
 (28, ' Philippines', 5),
 (28, ' Poland', 2),
 (28, ' Portugal', 2),
 (28, ' Puerto-Rico', 4),
 (28, ' South', 1),
 (28, ' Taiwan', 2),
 (28, ' Trinadad&Tobago', 1),
 (28, ' United-States', 751),
 (29, ' ?', 12),
 (29, ' Canada', 4),
 (29, ' China', 1),
 (29, ' Columbia', 3),
 (29, ' Cuba', 1),
 (29, ' Dominican-Republic', 3),
 (29, ' Ecuador', 4),
 (29, ' El-Salvador', 4),
 (29, ' England', 2),
 (29, ' France', 2),
 (29, ' Germany', 8),
 (29, ' Guatemala', 3),
 (29, ' Haiti', 2),
 (29, ' Hong', 1),
 (29, ' India', 4),
 (29, ' Iran', 1),
 (29, ' Ireland', 1),
 (29, ' Italy', 1),
 (29, ' Jamaica', 2),
 (29, ' Japan', 4),
 (29, ' Laos', 2),
 (29, ' Mexico', 17),
 (29, ' Nicaragua', 2),
 (29, ' Outlying-US(Guam-USVI-etc)', 2),
 (29, ' Peru', 1),
 (29, ' Philippines', 6),
 (29, ' Poland', 1),
 (29, ' Portugal', 1),
 (29, ' Puerto-Rico', 1),
 (29, ' Scotland', 2),
 (29, ' South', 2),
 (29, ' Taiwan', 4),
 (29, ' Thailand', 1),
 (29, ' United-States', 706),
 (29, ' Vietnam', 1),
 (29, ' Yugoslavia', 1),
 (30, ' ?', 19),
 (30, ' Canada', 3),
 (30, ' China', 4),
 (30, ' Cuba', 1),
 (30, ' Dominican-Republic', 1),
 (30, ' Ecuador', 1),
 (30, ' El-Salvador', 1),
 (30, ' England', 4),
 (30, ' France', 1),
 (30, ' Germany', 8),
 (30, ' Guatemala', 2),
 (30, ' Haiti', 1),
 (30, ' Honduras', 1),
 (30, ' Hong', 1),
 (30, ' Hungary', 1),
 (30, ' India', 5),
 (30, ' Iran', 2),
 (30, ' Ireland', 4),
 (30, ' Jamaica', 1),
 (30, ' Japan', 1),
 (30, ' Laos', 1),
 (30, ' Mexico', 21),
 (30, ' Nicaragua', 2),
 (30, ' Outlying-US(Guam-USVI-etc)', 1),
 (30, ' Peru', 1),
 (30, ' Philippines', 2),
 (30, ' Poland', 2),
 (30, ' Portugal', 1),
 (30, ' Puerto-Rico', 2),
 (30, ' South', 3),
 (30, ' Taiwan', 5),
 (30, ' Thailand', 1),
 (30, ' United-States', 749),
 (30, ' Vietnam', 8),
 (31, ' ?', 18),
 (31, ' Canada', 2),
 (31, ' China', 2),
 (31, ' Columbia', 2),
 (31, ' Cuba', 3),
 (31, ' El-Salvador', 2),
 (31, ' England', 2),
 (31, ' France', 1),
 (31, ' Germany', 4),
 (31, ' Honduras', 2),
 (31, ' India', 5),
 (31, ' Ireland', 1),
 (31, ' Italy', 3),
 (31, ' Jamaica', 3),
 (31, ' Japan', 1),
 (31, ' Mexico', 33),
 (31, ' Philippines', 3),
 (31, ' Poland', 1),
 (31, ' Portugal', 1),
 (31, ' Puerto-Rico', 4),
 (31, ' South', 3),
 (31, ' Taiwan', 2),
 (31, ' Thailand', 1),
 (31, ' Trinadad&Tobago', 1),
 (31, ' United-States', 785),
 (31, ' Vietnam', 2),
 (31, ' Yugoslavia', 1),
 (32, ' ?', 17),
 (32, ' Cambodia', 1),
 (32, ' Canada', 3),
 (32, ' China', 2),
 (32, ' Columbia', 3),
 (32, ' Cuba', 1),
 (32, ' Dominican-Republic', 1),
 (32, ' Ecuador', 2),
 (32, ' El-Salvador', 1),
 (32, ' England', 3),
 (32, ' France', 1),
 (32, ' Germany', 3),
 (32, ' Greece', 2),
 (32, ' Guatemala', 1),
 (32, ' Haiti', 1),
 (32, ' Holand-Netherlands', 1),
 (32, ' Hong', 1),
 (32, ' India', 3),
 (32, ' Iran', 3),
 (32, ' Ireland', 4),
 (32, ' Italy', 2),
 (32, ' Jamaica', 3),
 (32, ' Japan', 1),
 (32, ' Laos', 1),
 (32, ' Mexico', 21),
 (32, ' Nicaragua', 3),
 (32, ' Philippines', 3),
 (32, ' Puerto-Rico', 2),
 (32, ' South', 2),
 (32, ' Taiwan', 1),
 (32, ' Trinadad&Tobago', 1),
 (32, ' United-States', 734),
 (33, ' ?', 13),
 (33, ' Canada', 4),
 (33, ' China', 4),
 (33, ' Columbia', 2),
 (33, ' Cuba', 4),
 (33, ' Ecuador', 1),
 (33, ' El-Salvador', 6),
 (33, ' England', 3),
 (33, ' France', 2),
 (33, ' Germany', 5),
 (33, ' Guatemala', 2),
 (33, ' Haiti', 2),
 (33, ' Hong', 2),
 (33, ' India', 3),
 (33, ' Iran', 1),
 (33, ' Italy', 1),
 (33, ' Jamaica', 2),
 (33, ' Japan', 4),
 (33, ' Mexico', 22),
 (33, ' Nicaragua', 1),
 (33, ' Peru', 2),
 (33, ' Philippines', 6),
 (33, ' Portugal', 1),
 (33, ' Puerto-Rico', 2),
 (33, ' South', 2),
 (33, ' Taiwan', 1),
 (33, ' Thailand', 2),
 (33, ' Trinadad&Tobago', 1),
 (33, ' United-States', 773),
 (33, ' Vietnam', 1),
 (34, ' ?', 24),
 (34, ' Cambodia', 1),
 (34, ' Canada', 1),
 (34, ' China', 4),
 (34, ' Columbia', 2),
 (34, ' Cuba', 1),
 (34, ' Dominican-Republic', 2),
 (34, ' El-Salvador', 3),
 (34, ' England', 5),
 (34, ' France', 3),
 (34, ' Germany', 8),
 (34, ' Guatemala', 3),
 (34, ' Haiti', 1),
 (34, ' India', 4),
 (34, ' Iran', 2),
 (34, ' Ireland', 1),
 (34, ' Italy', 1),
 (34, ' Jamaica', 4),
 (34, ' Japan', 2),
 (34, ' Mexico', 12),
 (34, ' Nicaragua', 1),
 (34, ' Peru', 1),
 (34, ' Philippines', 7),
 (34, ' Portugal', 3),
 (34, ' Puerto-Rico', 2),
 (34, ' South', 2),
 (34, ' Taiwan', 2),
 (34, ' United-States', 784),
 (35, ' ?', 18),
 (35, ' Cambodia', 1),
 (35, ' Canada', 1),
 (35, ' China', 2),
 (35, ' Cuba', 1),
 (35, ' Dominican-Republic', 1),
 (35, ' Ecuador', 1),
 (35, ' Germany', 5),
 (35, ' Guatemala', 1),
 (35, ' Haiti', 1),
 (35, ' Hong', 1),
 (35, ' India', 4),
 (35, ' Iran', 2),
 (35, ' Ireland', 1),
 (35, ' Jamaica', 4),
 (35, ' Japan', 2),
 (35, ' Mexico', 15),
 (35, ' Peru', 1),
 (35, ' Philippines', 8),
 (35, ' Poland', 2),
 (35, ' Puerto-Rico', 6),
 (35, ' South', 1),
 (35, ' Taiwan', 3),
 (35, ' Trinadad&Tobago', 1),
 (35, ' United-States', 789),
 (35, ' Vietnam', 2),
 (35, ' Yugoslavia', 2),
 (36, ' ?', 23),
 (36, ' Cambodia', 1),
 (36, ' Canada', 4),
 (36, ' China', 3),
 (36, ' Columbia', 2),
 (36, ' Cuba', 1),
 (36, ' Ecuador', 1),
 (36, ' El-Salvador', 3),
 (36, ' England', 2),
 (36, ' Germany', 4),
 (36, ' Guatemala', 1),
 (36, ' Haiti', 2),
 (36, ' Honduras', 1),
 (36, ' Hong', 1),
 (36, ' India', 3),
 (36, ' Iran', 4),
 (36, ' Italy', 2),
 (36, ' Jamaica', 1),
 (36, ' Japan', 3),
 (36, ' Laos', 2),
 (36, ' Mexico', 18),
 (36, ' Nicaragua', 1),
 (36, ' Philippines', 3),
 (36, ' Puerto-Rico', 2),
 (36, ' South', 4),
 (36, ' Taiwan', 3),
 (36, ' United-States', 801),
 (36, ' Vietnam', 1),
 (36, ' Yugoslavia', 1),
 (37, ' ?', 22),
 (37, ' Cambodia', 2),
 (37, ' Canada', 4),
 (37, ' China', 1),
 (37, ' Cuba', 5),
 (37, ' Ecuador', 1),
 (37, ' El-Salvador', 5),
 (37, ' England', 2),
 (37, ' France', 2),
 (37, ' Germany', 2),
 (37, ' Guatemala', 2),
 (37, ' Hong', 2),
 (37, ' Iran', 2),
 (37, ' Jamaica', 1),
 (37, ' Japan', 3),
 (37, ' Mexico', 19),
 (37, ' Nicaragua', 1),
 (37, ' Peru', 1),
 (37, ' Philippines', 8),
 (37, ' Portugal', 2),
 (37, ' Puerto-Rico', 4),
 (37, ' South', 2),
 (37, ' Thailand', 1),
 (37, ' United-States', 762),
 (37, ' Vietnam', 2),
 (38, ' ?', 20),
 (38, ' Canada', 4),
 (38, ' Columbia', 2),
 (38, ' Cuba', 4),
 (38, ' Dominican-Republic', 1),
 (38, ' El-Salvador', 1),
 (38, ' England', 2),
 (38, ' Germany', 1),
 (38, ' Guatemala', 1),
 (38, ' Haiti', 2),
 (38, ' India', 2),
 (38, ' Iran', 3),
 (38, ' Italy', 4),
 (38, ' Jamaica', 1),
 (38, ' Japan', 2),
 (38, ' Mexico', 15),
 (38, ' Nicaragua', 1),
 (38, ' Philippines', 7),
 (38, ' Poland', 4),
 (38, ' Portugal', 3),
 (38, ' Puerto-Rico', 1),
 (38, ' Scotland', 1),
 (38, ' Taiwan', 1),
 (38, ' Trinadad&Tobago', 2),
 (38, ' United-States', 741),
 (38, ' Vietnam', 1),
 (39, ' ?', 19),
 (39, ' Canada', 1),
 (39, ' China', 2),
 (39, ' Columbia', 2),
 (39, ' Cuba', 3),
 (39, ' Dominican-Republic', 4),
 (39, ' El-Salvador', 2),
 (39, ' England', 2),
 (39, ' France', 1),
 (39, ' Germany', 3),
 (39, ' India', 1),
 (39, ' Iran', 1),
 (39, ' Italy', 1),
 (39, ' Jamaica', 2),
 (39, ' Japan', 3),
 (39, ' Mexico', 12),
 (39, ' Nicaragua', 1),
 (39, ' Philippines', 14),
 (39, ' Poland', 5),
 (39, ' Puerto-Rico', 3),
 (39, ' South', 1),
 (39, ' United-States', 733),
 (40, ' ?', 12),
 (40, ' Cambodia', 2),
 (40, ' Canada', 4),
 (40, ' China', 4),
 (40, ' Cuba', 3),
 (40, ' Dominican-Republic', 3),
 (40, ' El-Salvador', 2),
 (40, ' England', 3),
 (40, ' Germany', 1),
 (40, ' Greece', 1),
 (40, ' Guatemala', 1),
 (40, ' Haiti', 1),
 (40, ' Hong', 1),
 (40, ' India', 1),
 (40, ' Iran', 2),
 (40, ' Ireland', 2),
 (40, ' Jamaica', 2),
 (40, ' Japan', 2),
 (40, ' Mexico', 11),
 (40, ' Philippines', 3),
 (40, ' Poland', 1),
 (40, ' Puerto-Rico', 5),
 (40, ' Scotland', 1),
 (40, ' South', 1),
 (40, ' Taiwan', 1),
 (40, ' Trinadad&Tobago', 1),
 (40, ' United-States', 721),
 (40, ' Vietnam', 1),
 (40, ' Yugoslavia', 1),
 (41, ' ?', 22),
 (41, ' Canada', 3),
 (41, ' China', 3),
 (41, ' Columbia', 1),
 (41, ' Cuba', 3),
 (41, ' Dominican-Republic', 2),
 (41, ' El-Salvador', 2),
 (41, ' England', 2),
 (41, ' Germany', 2),
 (41, ' Guatemala', 4),
 (41, ' Haiti', 1),
 (41, ' Honduras', 1),
 (41, ' Hong', 1),
 (41, ' India', 3),
 (41, ' Iran', 2),
 (41, ' Italy', 2),
 (41, ' Jamaica', 2),
 (41, ' Japan', 5),
 (41, ' Mexico', 20),
 (41, ' Nicaragua', 1),
 (41, ' Outlying-US(Guam-USVI-etc)', 1),
 (41, ' Peru', 5),
 (41, ' Philippines', 4),
 (41, ' Poland', 2),
 (41, ' Puerto-Rico', 2),
 (41, ' Taiwan', 4),
 (41, ' United-States', 705),
 (41, ' Vietnam', 1),
 (41, ' Yugoslavia', 2),
 (42, ' ?', 24),
 (42, ' Cambodia', 1),
 (42, ' Canada', 1),
 (42, ' Cuba', 1),
 (42, ' Dominican-Republic', 1),
 (42, ' Ecuador', 2),
 (42, ' El-Salvador', 5),
 (42, ' England', 2),
 (42, ' France', 1),
 (42, ' Germany', 1),
 (42, ' Haiti', 2),
 (42, ' India', 3),
 (42, ' Iran', 1),
 (42, ' Italy', 3),
 (42, ' Jamaica', 1),
 (42, ' Laos', 1),
 (42, ' Mexico', 7),
 (42, ' Nicaragua', 1),
 (42, ' Philippines', 4),
 (42, ' Poland', 2),
 (42, ' Puerto-Rico', 8),
 (42, ' Scotland', 1),
 (42, ' South', 2),
 (42, ' Taiwan', 3),
 (42, ' Trinadad&Tobago', 1),
 (42, ' United-States', 701),
 (43, ' ?', 14),
 (43, ' Canada', 1),
 (43, ' China', 2),
 (43, ' Columbia', 1),
 (43, ' Cuba', 2),
 (43, ' Dominican-Republic', 1),
 (43, ' England', 2),
 (43, ' France', 1),
 (43, ' Germany', 4),
 (43, ' Greece', 1),
 (43, ' Haiti', 2),
 (43, ' India', 3),
 (43, ' Iran', 1),
 (43, ' Italy', 1),
 (43, ' Jamaica', 1),
 (43, ' Japan', 1),
 (43, ' Mexico', 16),
 (43, ' Nicaragua', 2),
 (43, ' Outlying-US(Guam-USVI-etc)', 1),
 (43, ' Philippines', 3),
 (43, ' Poland', 3),
 (43, ' Portugal', 2),
 (43, ' Puerto-Rico', 1),
 (43, ' South', 3),
 (43, ' Thailand', 2),
 (43, ' Trinadad&Tobago', 1),
 (43, ' United-States', 695),
 (43, ' Vietnam', 2),
 (43, ' Yugoslavia', 1),
 (44, ' ?', 10),
 (44, ' Canada', 2),
 (44, ' China', 1),
 (44, ' Cuba', 2),
 (44, ' Dominican-Republic', 3),
 (44, ' Ecuador', 1),
 (44, ' El-Salvador', 1),
 (44, ' England', 4),
 (44, ' Germany', 1),
 (44, ' Greece', 1),
 (44, ' Haiti', 2),
 (44, ' India', 1),
 (44, ' Iran', 1),
 (44, ' Italy', 2),
 (44, ' Jamaica', 3),
 (44, ' Japan', 2),
 (44, ' Laos', 1),
 (44, ' Mexico', 10),
 (44, ' Nicaragua', 1),
 (44, ' Peru', 1),
 (44, ' Philippines', 3),
 (44, ' Poland', 3),
 (44, ' Portugal', 1),
 (44, ' Puerto-Rico', 4),
 (44, ' South', 1),
 (44, ' Taiwan', 1),
 (44, ' United-States', 658),
 (44, ' Vietnam', 3),
 (45, ' ?', 17),
 (45, ' Canada', 6),
 (45, ' China', 5),
 (45, ' Columbia', 2),
 (45, ' Cuba', 1),
 (45, ' Dominican-Republic', 1),
 (45, ' El-Salvador', 1),
 (45, ' England', 4),
 (45, ' France', 1),
 (45, ' Germany', 5),
 (45, ' Guatemala', 1),
 (45, ' Haiti', 1),
 (45, ' India', 4),
 (45, ' Iran', 1),
 (45, ' Japan', 3),
 (45, ' Mexico', 9),
 (45, ' Philippines', 7),
 (45, ' Poland', 1),
 (45, ' Puerto-Rico', 1),
 (45, ' South', 3),
 (45, ' Thailand', 1),
 (45, ' Trinadad&Tobago', 2),
 (45, ' United-States', 653),
 (45, ' Vietnam', 3),
 (45, ' Yugoslavia', 1),
 (46, ' ?', 15),
 (46, ' Cambodia', 1),
 (46, ' Canada', 2),
 (46, ' China', 2),
 (46, ' Columbia', 1),
 (46, ' Cuba', 2),
 (46, ' Dominican-Republic', 2),
 (46, ' Ecuador', 2),
 (46, ' El-Salvador', 1),
 (46, ' England', 2),
 (46, ' Germany', 6),
 (46, ' Greece', 1),
 (46, ' Guatemala', 4),
 (46, ' India', 3),
 (46, ' Ireland', 1),
 (46, ' Italy', 1),
 (46, ' Jamaica', 1),
 (46, ' Japan', 1),
 (46, ' Mexico', 10),
 (46, ' Peru', 1),
 (46, ' Philippines', 7),
 (46, ' Portugal', 1),
 (46, ' Puerto-Rico', 2),
 (46, ' South', 1),
 (46, ' Thailand', 1),
 (46, ' Trinadad&Tobago', 1),
 (46, ' United-States', 664),
 (46, ' Vietnam', 1),
 (47, ' ?', 12),
 (47, ' Canada', 2),
 (47, ' Cuba', 6),
 (47, ' Dominican-Republic', 1),
 (47, ' El-Salvador', 4),
 (47, ' England', 1),
 (47, ' France', 1),
 (47, ' Germany', 5),
 (47, ' Honduras', 2),
 (47, ' Hungary', 1),
 (47, ' India', 2),
 (47, ' Iran', 3),
 (47, ' Italy', 4),
 (47, ' Jamaica', 1),
 (47, ' Japan', 4),
 (47, ' Mexico', 10),
 (47, ' Outlying-US(Guam-USVI-etc)', 2),
 (47, ' Philippines', 2),
 (47, ' Portugal', 1),
 (47, ' Puerto-Rico', 8),
 (47, ' Scotland', 1),
 (47, ' South', 1),
 (47, ' Taiwan', 1),
 (47, ' Thailand', 2),
 (47, ' United-States', 631),
 (48, ' ?', 5),
 (48, ' Cambodia', 1),
 (48, ' Canada', 1),
 (48, ' China', 3),
 (48, ' Columbia', 1),
 (48, ' Cuba', 1),
 (48, ' Dominican-Republic', 3),
 (48, ' Ecuador', 1),
 (48, ' El-Salvador', 2),
 (48, ' England', 3),
 (48, ' Germany', 3),
 (48, ' Greece', 1),
 (48, ' Haiti', 1),
 (48, ' India', 4),
 (48, ' Ireland', 1),
 (48, ' Italy', 3),
 (48, ' Jamaica', 2),
 (48, ' Japan', 2),
 (48, ' Mexico', 7),
 (48, ' Nicaragua', 1),
 (48, ' Peru', 2),
 (48, ' Philippines', 5),
 (48, ' Poland', 1),
 (48, ' Portugal', 1),
 (48, ' Puerto-Rico', 1),
 (48, ' South', 2),
 (48, ' Trinadad&Tobago', 1),
 (48, ' United-States', 483),
 (48, ' Vietnam', 1),
 (49, ' ?', 4),
 (49, ' Canada', 2),
 (49, ' China', 1),
 (49, ' Columbia', 6),
 (49, ' Cuba', 1),
 (49, ' England', 1),
 (49, ' France', 1),
 (49, ' Germany', 1),
 (49, ' Greece', 3),
 (49, ' Hong', 1),
 (49, ' Hungary', 1),
 (49, ' India', 2),
 (49, ' Italy', 2),
 (49, ' Jamaica', 1),
 (49, ' Laos', 1),
 (49, ' Mexico', 3),
 (49, ' Peru', 2),
 (49, ' Philippines', 4),
 (49, ' Poland', 1),
 (49, ' Portugal', 2),
 (49, ' Puerto-Rico', 3),
 (49, ' Scotland', 1),
 (49, ' South', 2),
 (49, ' United-States', 531),
 (50, ' ?', 13),
 (50, ' Cambodia', 1),
 (50, ' Canada', 3),
 (50, ' China', 1),
 (50, ' Columbia', 1),
 (50, ' Cuba', 2),
 (50, ' Dominican-Republic', 2),

In [67]:
q="""
alter table sqladb
add column 'Net-Capital-Gain' BIGINT
"""
q1="""
UPDATE sqladb
SET 'Net-Capital-Gain' = 'capital-gain' - 'capital-loss' 
"""
engine1.execute(q)
engine1.execute(q1)
engine1.execute("select * from sqladb limit 5").fetchall()

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K', 0),
 (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K', 0),
 (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K', 0),
 (3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K', 0),
 (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K', 0)]

In [68]:
import numpy as np
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [69]:
data1=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", header=None)
data1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [70]:
data1.columns=['age','workclass','fnlwgt','education','education-num','marital-status',
                     'occupation','relationship','race','sex','capital-gain','capital-loss',
                     'hours-per-week','native-country','class']
data1.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [71]:
data1.to_sql('adult', con=engine,if_exists='replace',chunksize=60)

In [72]:
engine.execute("UPDATE adult SET [capital-gain] = 2000 ;")

In [73]:
engine.execute("UPDATE adult SET fnlwgt = 70000 where age > 50 ;")

In [74]:
engine.execute("select * from adult limit 10").fetchall()

[(0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 13, ' United-States', ' <=50K'),
 (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (3, 53, ' Private', 70000, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 2000, 0, 40, ' Cuba', ' <=50K'),
 (5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 2000, 0, 40, ' United-States', ' <=50K'),
 (6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 2000, 0, 16, ' Jamaica', ' <=50K'),
 (7, 52, ' Self-emp-not-inc', 70000, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 45, ' United-States', ' >50K'),
 (8, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 2000, 0, 50, ' United-States', ' >50K'),
 (9, 42, ' Private', 159449, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' >50K')]

In [75]:
engine.execute("delete from adult where age = 90")

In [76]:
engine.execute("delete from adult where education in (' 11th',' 12th')")

In [77]:
engine.execute("select education,count(education) from adult group by education;").fetchall()

[(' 10th', 932),
 (' 1st-4th', 167),
 (' 5th-6th', 333),
 (' 7th-8th', 643),
 (' 9th', 513),
 (' Assoc-acdm', 1066),
 (' Assoc-voc', 1382),
 (' Bachelors', 5346),
 (' Doctorate', 413),
 (' HS-grad', 10487),
 (' Masters', 1719),
 (' Preschool', 51),
 (' Prof-school', 575),
 (' Some-college', 7285)]

In [78]:
engine.execute("select * from adult where education=' Masters' and age <30 and sex = ' Male'").fetchall()

[(273, 27, ' Local-gov', 209109, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 2000, 0, 35, ' United-States', ' <=50K'),
 (1172, 25, ' Private', 404616, ' Masters', 14, ' Married-civ-spouse', ' Farming-fishing', ' Not-in-family', ' White', ' Male', 2000, 0, 99, ' United-States', ' >50K'),
 (1730, 24, ' Private', 180060, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Own-child', ' White', ' Male', 2000, 0, 90, ' United-States', ' <=50K'),
 (1972, 26, ' Private', 122999, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' >50K'),
 (2258, 29, ' Private', 241431, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' >50K'),
 (2567, 24, ' State-gov', 166851, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 13, ' United-States', ' <=50K'),
 (2621, 25, ' Private', 135645, ' Masters', 14, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 2000, 0, 20, ' United-States', ' <=50K'),
 (2898, 29, ' Local-gov', 123983, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Own-child', ' Asian-Pac-Islander', ' Male', 2000, 0, 40, ' Taiwan', ' <=50K'),
 (3029, 28, ' State-gov', 52636, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (3499, 26, ' Private', 139098, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (3507, 25, ' Local-gov', 112835, ' Masters', 14, ' Never-married', ' Protective-serv', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (3816, 29, ' Local-gov', 175262, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Other-relative', ' White', ' Male', 2000, 0, 35, ' United-States', ' <=50K'),
 (4092, 27, ' Local-gov', 134813, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 2000, 0, 52, ' United-States', ' <=50K'),
 (4237, 29, ' Private', 237865, ' Masters', 14, ' Never-married', ' Transport-moving', ' Own-child', ' Black', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (5163, 27, ' Private', 133937, ' Masters', 14, ' Never-married', ' Sales', ' Own-child', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (5427, 29, ' State-gov', 95423, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 2000, 0, 36, ' United-States', ' <=50K'),
 (5593, 29, ' Private', 168479, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' >50K'),
 (6430, 29, ' State-gov', 191355, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (6548, 28, ' State-gov', 158834, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 50, ' United-States', ' >50K'),
 (6833, 28, ' Private', 209205, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 45, ' United-States', ' >50K'),
 (6980, 29, ' Local-gov', 289991, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 50, ' United-States', ' <=50K'),
 (7429, 28, ' Self-emp-not-inc', 240172, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (8075, 27, ' State-gov', 315640, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' Asian-Pac-Islander', ' Male', 2000, 0, 20, ' China', ' <=50K'),
 (8679, 28, ' Private', 274679, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 50, ' United-States', ' <=50K'),
 (9263, 26, ' Federal-gov', 211596, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (10091, 29, ' State-gov', 309620, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 2000, 0, 20, ' Taiwan', ' <=50K'),
 (10395, 25, ' Local-gov', 334133, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 2000, 0, 20, ' United-States', ' <=50K'),
 (10939, 25, ' Private', 165622, ' Masters', 14, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 2000, 0, 55, ' United-States', ' <=50K'),
 (11153, 29, ' Private', 53181, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 55, ' United-States', ' >50K'),
 (11822, 26, ' Private', 224426, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Own-child', ' White', ' Male', 2000, 0, 38, ' United-States', ' <=50K'),
 (11880, 26, ' Private', 97698, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 2000, 0, 32, ' United-States', ' <=50K'),
 (12362, 29, ' State-gov', 106334, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' ?', ' <=50K'),
 (13245, 28, ' Private', 204074, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 48, ' United-States', ' <=50K'),
 (13413, 25, ' Private', 169100, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (13487, 26, ' Local-gov', 180957, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 50, ' United-States', ' <=50K'),
 (13716, 29, ' Local-gov', 273771, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 45, ' United-States', ' <=50K'),
 (14058, 28, ' Private', 224629, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' Other', ' Male', 2000, 0, 30, ' Cuba', ' <=50K'),
 (14305, 25, ' Private', 214413, ' Masters', 14, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (14588, 26, ' State-gov', 180886, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 30, ' United-States', ' <=50K'),
 (14635, 27, ' State-gov', 280618, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (15049, 27, ' Self-emp-inc', 113870, ' Masters', 14, ' Never-married', ' Transport-moving', ' Own-child', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (15323, 29, ' Private', 214925, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' Black', ' Male', 2000, 0, 60, ' United-States', ' <=50K'),
 (15834, 25, ' Private', 250038, ' Masters', 14, ' Married-civ-spouse', ' Machine-op-inspct', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' Mexico', ' <=50K'),
 (16211, 23, ' Private', 309580, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (17142, 29, ' Private', 205249, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Asian-Pac-Islander', ' Male', 2000, 0, 40, ' Japan', ' <=50K'),
 (17621, 27, ' Private', 181280, ' Masters', 14, ' Never-married', ' Handlers-cleaners', ' Unmarried', ' White', ' Male', 2000, 0, 30, ' United-States', ' <=50K'),
 (18704, 27, ' Private', 302406, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 55, ' United-States', ' <=50K'),
 (19509, 27, ' ?', 173800, ' Masters', 14, ' Never-married', ' ?', ' Unmarried', ' Asian-Pac-Islander', ' Male', 2000, 0, 20, ' Taiwan', ' <=50K'),
 (19677, 29, ' Local-gov', 195520, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (19732, 24, ' Private', 204935, ' Masters', 14, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2000, 0, 56, ' United-States', ' <=50K'),
 (19821, 24, ' Private', 172496, ' Masters', 14, ' Never-married', ' Tech-support', ' Not-in-family', ' White', ' Male', 2000, 0, 50, ' United-States', ' <=50K'),
 (19845, 25, ' State-gov', 104097, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (20093, 26, ' Private', 164488, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 1887, 40, ' United-States', ' >50K'),
 (20709, 24, ' State-gov', 147719, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' Asian-Pac-Islander', ' Male', 2000, 0, 20, ' India', ' <=50K'),
 (20780, 27, ' Private', 298635, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 2000, 0, 40, ' Hong', ' >50K'),
 (21161, 29, ' Private', 263005, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 45, ' Germany', ' <=50K'),
 (21342, 28, ' Private', 51461, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 60, ' United-States', ' <=50K'),
 (21680, 28, ' Private', 319768, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 2000, 0, 45, ' France', ' >50K'),
 (22294, 29, ' Private', 180758, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (22409, 27, ' State-gov', 230922, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' Scotland', ' <=50K'),
 (22996, 27, ' Private', 329426, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 2000, 0, 37, ' United-States', ' <=50K'),
 (23339, 29, ' State-gov', 204516, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 15, ' United-States', ' <=50K'),
 (24216, 21, ' State-gov', 99199, ' Masters', 14, ' Never-married', ' Transport-moving', ' Own-child', ' White', ' Male', 2000, 0, 15, ' United-States', ' <=50K'),
 (24353, 27, ' Private', 704108, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (24374, 27, ' Private', 113501, ' Masters', 14, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Male', 2000, 0, 45, ' United-States', ' <=50K'),
 (25210, 29, ' Private', 142555, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' Black', ' Male', 2000, 0, 42, ' United-States', ' <=50K'),
 (25241, 29, ' Private', 110226, ' Masters', 14, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 2000, 0, 65, ' ?', ' <=50K'),
 (26011, 28, ' Private', 109001, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 38, ' United-States', ' >50K'),
 (26215, 28, ' Private', 190525, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K'),
 (26231, 26, ' Private', 29957, ' Masters', 14, ' Never-married', ' Tech-support', ' Other-relative', ' White', ' Male', 2000, 0, 25, ' United-States', ' <=50K'),
 (26313, 28, ' Private', 274679, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 50, ' United-States', ' <=50K'),
 (26335, 26, ' Private', 173593, ' Masters', 14, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 2000, 0, 20, ' Canada', ' <=50K'),
 (26661, 27, ' Private', 142712, ' Masters', 14, ' Never-married', ' Tech-support', ' Not-in-family', ' White', ' Male', 2000, 0, 40, ' ?', ' <=50K'),
 (26930, 29, ' Federal-gov', 360527, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' >50K'),
 (27433, 29, ' Private', 187188, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Not-in-family', ' Asian-Pac-Islander', ' Male', 2000, 0, 60, ' United-States', ' <=50K'),
 (28205, 29, ' Self-emp-not-inc', 77207, ' Masters', 14, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 2000, 0, 30, ' United-States', ' <=50K'),
 (28322, 28, ' Private', 173944, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' >50K'),
 (29137, 29, ' Private', 201017, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 55, ' Scotland', ' <=50K'),
 (29153, 25, ' Private', 239461, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Own-child', ' White', ' Male', 2000, 0, 35, ' United-States', ' <=50K'),
 (29484, 28, ' State-gov', 78356, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 2000, 0, 40, ' Jamaica', ' <=50K'),
 (29789, 26, ' Private', 157028, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 55, ' United-States', ' >50K'),
 (29878, 27, ' Private', 115945, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 2000, 0, 45, ' United-States', ' >50K'),
 (29888, 25, ' Private', 141876, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Unmarried', ' White', ' Male', 2000, 0, 45, ' ?', ' <=50K'),
 (30478, 25, ' Private', 185952, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 2000, 0, 30, ' United-States', ' <=50K'),
 (30535, 29, ' Private', 134566, ' Masters', 14, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 2000, 0, 20, ' United-States', ' <=50K'),
 (30871, 26, ' Private', 160261, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' Asian-Pac-Islander', ' Male', 2000, 0, 20, ' India', ' <=50K'),
 (30999, 29, ' Private', 304595, ' Masters', 14, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 2000, 0, 50, ' United-States', ' >50K'),
 (31052, 20, ' Private', 190227, ' Masters', 14, ' Never-married', ' Exec-managerial', ' Own-child', ' White', ' Male', 2000, 0, 25, ' United-States', ' <=50K'),
 (31075, 26, ' Private', 76491, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 20, ' United-States', ' <=50K'),
 (31357, 23, ' Private', 143003, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 2000, 1887, 50, ' India', ' >50K'),
 (32200, 25, ' Private', 178025, ' Masters', 14, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 2000, 0, 40, ' United-States', ' <=50K')]

In [79]:
engine.execute("select max([capital-gain]) from  adult").fetchall()

[(2000,)]

In [80]:
q="""
select count([native-country]) from adult where [native-country]=' India' group by [native-country]
"""
engine.execute(q).fetchall()

[(94,)]