In [1]:
import numpy as np
import pandas as pd

In [2]:
train_set =pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header = None)

test_set =pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test', skiprows = 1, header = None)
col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status','occupation','relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week','native_country', 'wage_class']
train_set.columns = col_labels
test_set.columns = col_labels

In [4]:
train_set.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
train_set['workclass'],_=pd.factorize(train_set['workclass'])
train_set['education'],_=pd.factorize(train_set['education'])
train_set['marital_status'],_=pd.factorize(train_set['marital_status'])
train_set['occupation'],_=pd.factorize(train_set['occupation'])
train_set['relationship'],_=pd.factorize(train_set['relationship'])
train_set['race'],_=pd.factorize(train_set['race'])
train_set['sex'],_=pd.factorize(train_set['sex'])
train_set['native_country'],_=pd.factorize(train_set['native_country'])
train_set['wage_class'],_=pd.factorize(train_set['wage_class'])
test_set['workclass'],_=pd.factorize(test_set['workclass'])
test_set['education'],_=pd.factorize(test_set['education'])
test_set['marital_status'],_=pd.factorize(test_set['marital_status'])
test_set['occupation'],_=pd.factorize(test_set['occupation'])
test_set['relationship'],_=pd.factorize(test_set['relationship'])
test_set['race'],_=pd.factorize(test_set['race'])
test_set['sex'],_=pd.factorize(test_set['sex'])
test_set['native_country'],_=pd.factorize(test_set['native_country'])
test_set['wage_class'],_=pd.factorize(test_set['wage_class'])

In [17]:
X_train=train_set.iloc[:,:-1]
y_train=train_set.iloc[:,-1]
X_test=test_set.iloc[:,:-1]
y_test=test_set.iloc[:,-1]

In [18]:
from xgboost.sklearn import XGBClassifier

In [19]:
params = {
'objective': 'binary:logistic',
'max_depth': 2,
'learning_rate': 1.0,
'silent': 1.0,
'n_estimators': 5
}

In [20]:
bst = XGBClassifier(**params).fit(X_train, y_train)

In [21]:
preds = bst.predict(X_test)
preds

C:\Users\Sujina\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
correct = 0
for i in range(len(preds)):
    if (y_test[i] == preds[i]):
        correct +=1
acc = accuracy_score(y_test, preds)
print('Predicted correctly: {0}/{1}'.format(correct, len(preds)))
print('Error: {0:.4f}'.format(1-acc))

Predicted correctly: 13686/16281
Error: 0.1594

In [26]:
acc

0.8406117560346416