In [20]:
def moving_average(li):
    add=0
    filter_array=[]
    k=3
    length=len(li)
    w=length-k+1
    i=3
    for x in range(w):
    
        add=sum(li[x:i])
        average=add/k
        filter_array.append(average)
        i+=1
    return filter_array
moving_average([3,5,7,2,8,10,11,65,72,81,99,100,150])

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333,
 116.33333333333333]

In [22]:
import pandas as pd
def funtocount(li):
    new_li=[]
    li_zero=[]
    for i,num in enumerate(li):
        if (num==0):
            li_zero.append(i)
    for i,num in enumerate(li):
        if(i<li_zero[0]):
            new_li.append(i)
        elif(li_zero[0]<i<li_zero[1]):
            new_li.append(i-li_zero[0])
        elif(i>li_zero[1]):
            new_li.append(i-li_zero[1])
        else:
            new_li.append(0)
    return new_li
    
        
  
df =pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})
df['Y']=df.apply(funtocount)
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [27]:
import numpy as np
daterange=pd.date_range('2015-01-01', '2015-12-31',freq='B')

se=pd.Series(np.random.random(len(daterange)),index=daterange)
se

2015-01-01    0.297714
2015-01-02    0.532924
2015-01-05    0.491333
2015-01-06    0.048296
2015-01-07    0.161304
2015-01-08    0.292188
2015-01-09    0.530217
2015-01-12    0.103667
2015-01-13    0.710921
2015-01-14    0.857567
2015-01-15    0.220572
2015-01-16    0.036994
2015-01-19    0.416803
2015-01-20    0.101578
2015-01-21    0.421292
2015-01-22    0.058214
2015-01-23    0.851654
2015-01-26    0.534244
2015-01-27    0.711200
2015-01-28    0.865754
2015-01-29    0.634279
2015-01-30    0.954483
2015-02-02    0.435024
2015-02-03    0.653594
2015-02-04    0.337145
2015-02-05    0.973502
2015-02-06    0.152688
2015-02-09    0.348146
2015-02-10    0.060102
2015-02-11    0.775530
                ...
2015-11-20    0.193938
2015-11-23    0.909212
2015-11-24    0.801038
2015-11-25    0.690092
2015-11-26    0.800120
2015-11-27    0.496797
2015-11-30    0.618091
2015-12-01    0.498621
2015-12-02    0.431419
2015-12-03    0.289199
2015-12-04    0.394414
2015-12-07    0.374432
2015-12-08    0.392843
2015-12-09    0.092728
2015-12-10    0.680636
2015-12-11    0.828017
2015-12-14    0.693283
2015-12-15    0.102269
2015-12-16    0.472446
2015-12-17    0.684976
2015-12-18    0.453718
2015-12-21    0.460834
2015-12-22    0.682097
2015-12-23    0.069450
2015-12-24    0.398451
2015-12-25    0.040485
2015-12-28    0.433271
2015-12-29    0.032699
2015-12-30    0.162841
2015-12-31    0.092379
Freq: B, Length: 261, dtype: float64

In [28]:
se[se.index.weekday=='wednesday'].sum()

0.2977141799913864

In [30]:
se.resample('M').mean()

2015-01-31    0.446964
2015-02-28    0.485038
2015-03-31    0.420900
2015-04-30    0.531755
2015-05-31    0.489013
2015-06-30    0.419414
2015-07-31    0.722631
2015-08-31    0.577129
2015-09-30    0.420364
2015-10-31    0.545304
2015-11-30    0.566642
2015-12-31    0.380935
Freq: M, dtype: float64

In [38]:
from pandas.core.resample  import TimeGrouper
se.groupby(TimeGrouper(freq='4M')).idxmax()

2015-01-31   2015-01-30
2015-05-31   2015-05-20
2015-09-30   2015-07-10
2016-01-31   2015-10-01
dtype: datetime64[ns]