In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston

In [2]:
boston=load_boston()

In [3]:
dataset=pd.DataFrame(boston['data'],columns=boston['feature_names'])

In [4]:
dataset.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14

In [5]:
dataset['Price']=boston['target']

In [6]:
dataset.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [35]:
X=dataset.iloc[:,:-1]

In [36]:
y=dataset.iloc[:,-1]

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [39]:
y_train=y_train.reshape(-1,1)

AttributeError: 'Series' object has no attribute 'reshape'

In [25]:
y_test=y_test.reshape(-1,1)

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc=StandardScaler()

In [28]:
y_train=sc.fit_transform(y_train)

In [29]:
y_test=sc.transform(y_test)

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
clf=RandomForestClassifier(criterion='entropy',random_state=0)

In [32]:
clf.fit(X_train,y_train)

C:\Users\Sujina\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

ValueError: Unknown label type: 'continuous'

In [64]:
y_pred=clf.predict(X_test)

In [72]:
from sklearn.metrics import accuracy_score